body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #3e0cdf8b, #0d44dc, #0aa5dd);
    min-height: 100vh;

}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding-top: 20px;
}

h1, h2 {
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    font-weight: bold;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    background: #f89122c5;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #e51a1a;
}

.task {
    background: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 6px;
    border-left: 5px solid #3498db;
}

.done {
    background: #e2ffe2;
    border-left: 5px solid #27ae60;
}

.task button {
    margin-right: 10px;
    margin-top: 10px;
}